spec/fixtures/backends/sendega/service.wsdl


<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://smsc.sendega.com/Content" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://smsc.sendega.com/Content" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This WebService contains all functions needed for sending all type of content, deleting queued messages and request different type of enquiries (Like positioning, hlr and dlr)</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://smsc.sendega.com/Content">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="SendMms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="destination" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="pricegroup" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dlrUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="extID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="refID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="imageUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMmsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendMmsResult" type="tns:SendResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SendResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MessageID" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="Send">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="destination" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pricegroup" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="contentTypeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="contentHeader" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dlrUrl" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ageLimit" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="extID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sendDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="refID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="priority" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="gwID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pid" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dcs" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendResult" type="tns:SendResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestNumberEnquiry">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="msisdn" type="s:double" />
            <s:element minOccurs="0" maxOccurs="1" name="returnUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestNumberEnquiryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestNumberEnquiryResult" type="tns:NumberEnquiryResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NumberEnquiryResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Msisdn" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Surname" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Firstname" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MessageID" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetOperator">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="msisdn" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="mcc" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="mnc" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetOperatorResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendResult" nillable="true" type="tns:SendResult" />
      <s:element name="NumberEnquiryResult" nillable="true" type="tns:NumberEnquiryResult" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMmsSoapIn">
    <wsdl:part name="parameters" element="tns:SendMms" />
  </wsdl:message>
  <wsdl:message name="SendMmsSoapOut">
    <wsdl:part name="parameters" element="tns:SendMmsResponse" />
  </wsdl:message>
  <wsdl:message name="SendSoapIn">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:message name="SendSoapOut">
    <wsdl:part name="parameters" element="tns:SendResponse" />
  </wsdl:message>
  <wsdl:message name="RequestNumberEnquirySoapIn">
    <wsdl:part name="parameters" element="tns:RequestNumberEnquiry" />
  </wsdl:message>
  <wsdl:message name="RequestNumberEnquirySoapOut">
    <wsdl:part name="parameters" element="tns:RequestNumberEnquiryResponse" />
  </wsdl:message>
  <wsdl:message name="SetOperatorSoapIn">
    <wsdl:part name="parameters" element="tns:SetOperator" />
  </wsdl:message>
  <wsdl:message name="SetOperatorSoapOut">
    <wsdl:part name="parameters" element="tns:SetOperatorResponse" />
  </wsdl:message>
  <wsdl:message name="SendMmsHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="destination" type="s:string" />
    <wsdl:part name="pricegroup" type="s:string" />
    <wsdl:part name="subject" type="s:string" />
    <wsdl:part name="messageText" type="s:string" />
    <wsdl:part name="dlrUrl" type="s:string" />
    <wsdl:part name="extID" type="s:string" />
    <wsdl:part name="refID" type="s:string" />
    <wsdl:part name="imageUrl" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMmsHttpGetOut">
    <wsdl:part name="Body" element="tns:SendResult" />
  </wsdl:message>
  <wsdl:message name="SendHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="sender" type="s:string" />
    <wsdl:part name="destination" type="s:string" />
    <wsdl:part name="pricegroup" type="s:string" />
    <wsdl:part name="contentTypeID" type="s:string" />
    <wsdl:part name="contentHeader" type="s:string" />
    <wsdl:part name="content" type="s:string" />
    <wsdl:part name="dlrUrl" type="s:string" />
    <wsdl:part name="ageLimit" type="s:string" />
    <wsdl:part name="extID" type="s:string" />
    <wsdl:part name="sendDate" type="s:string" />
    <wsdl:part name="refID" type="s:string" />
    <wsdl:part name="priority" type="s:string" />
    <wsdl:part name="gwID" type="s:string" />
    <wsdl:part name="pid" type="s:string" />
    <wsdl:part name="dcs" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendHttpGetOut">
    <wsdl:part name="Body" element="tns:SendResult" />
  </wsdl:message>
  <wsdl:message name="RequestNumberEnquiryHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="msisdn" type="s:string" />
    <wsdl:part name="returnUrl" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestNumberEnquiryHttpGetOut">
    <wsdl:part name="Body" element="tns:NumberEnquiryResult" />
  </wsdl:message>
  <wsdl:message name="SetOperatorHttpGetIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="msisdn" type="s:string" />
    <wsdl:part name="mcc" type="s:string" />
    <wsdl:part name="mnc" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetOperatorHttpGetOut" />
  <wsdl:message name="SendMmsHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="destination" type="s:string" />
    <wsdl:part name="pricegroup" type="s:string" />
    <wsdl:part name="subject" type="s:string" />
    <wsdl:part name="messageText" type="s:string" />
    <wsdl:part name="dlrUrl" type="s:string" />
    <wsdl:part name="extID" type="s:string" />
    <wsdl:part name="refID" type="s:string" />
    <wsdl:part name="imageUrl" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendMmsHttpPostOut">
    <wsdl:part name="Body" element="tns:SendResult" />
  </wsdl:message>
  <wsdl:message name="SendHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="sender" type="s:string" />
    <wsdl:part name="destination" type="s:string" />
    <wsdl:part name="pricegroup" type="s:string" />
    <wsdl:part name="contentTypeID" type="s:string" />
    <wsdl:part name="contentHeader" type="s:string" />
    <wsdl:part name="content" type="s:string" />
    <wsdl:part name="dlrUrl" type="s:string" />
    <wsdl:part name="ageLimit" type="s:string" />
    <wsdl:part name="extID" type="s:string" />
    <wsdl:part name="sendDate" type="s:string" />
    <wsdl:part name="refID" type="s:string" />
    <wsdl:part name="priority" type="s:string" />
    <wsdl:part name="gwID" type="s:string" />
    <wsdl:part name="pid" type="s:string" />
    <wsdl:part name="dcs" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendHttpPostOut">
    <wsdl:part name="Body" element="tns:SendResult" />
  </wsdl:message>
  <wsdl:message name="RequestNumberEnquiryHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="msisdn" type="s:string" />
    <wsdl:part name="returnUrl" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RequestNumberEnquiryHttpPostOut">
    <wsdl:part name="Body" element="tns:NumberEnquiryResult" />
  </wsdl:message>
  <wsdl:message name="SetOperatorHttpPostIn">
    <wsdl:part name="username" type="s:string" />
    <wsdl:part name="password" type="s:string" />
    <wsdl:part name="msisdn" type="s:string" />
    <wsdl:part name="mcc" type="s:string" />
    <wsdl:part name="mnc" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SetOperatorHttpPostOut" />
  <wsdl:portType name="ContentSoap">
    <wsdl:operation name="SendMms">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use this to send an mms - Undocumented. Consult Sendega support</wsdl:documentation>
      <wsdl:input message="tns:SendMmsSoapIn" />
      <wsdl:output message="tns:SendMmsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Send">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use this to send sms and mms. Consult documentation for more information about message types, parameters and limitations.</wsdl:documentation>
      <wsdl:input message="tns:SendSoapIn" />
      <wsdl:output message="tns:SendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestNumberEnquiry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Accepts msisdn input, full length. Only implemented for Norway</wsdl:documentation>
      <wsdl:input message="tns:RequestNumberEnquirySoapIn" />
      <wsdl:output message="tns:RequestNumberEnquirySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetOperator">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Used to temporary set operator to an msisdn. HLR enquiry will be run.</wsdl:documentation>
      <wsdl:input message="tns:SetOperatorSoapIn" />
      <wsdl:output message="tns:SetOperatorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ContentHttpGet">
    <wsdl:operation name="SendMms">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use this to send an mms - Undocumented. Consult Sendega support</wsdl:documentation>
      <wsdl:input message="tns:SendMmsHttpGetIn" />
      <wsdl:output message="tns:SendMmsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Send">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use this to send sms and mms. Consult documentation for more information about message types, parameters and limitations.</wsdl:documentation>
      <wsdl:input message="tns:SendHttpGetIn" />
      <wsdl:output message="tns:SendHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestNumberEnquiry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Accepts msisdn input, full length. Only implemented for Norway</wsdl:documentation>
      <wsdl:input message="tns:RequestNumberEnquiryHttpGetIn" />
      <wsdl:output message="tns:RequestNumberEnquiryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SetOperator">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Used to temporary set operator to an msisdn. HLR enquiry will be run.</wsdl:documentation>
      <wsdl:input message="tns:SetOperatorHttpGetIn" />
      <wsdl:output message="tns:SetOperatorHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ContentHttpPost">
    <wsdl:operation name="SendMms">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use this to send an mms - Undocumented. Consult Sendega support</wsdl:documentation>
      <wsdl:input message="tns:SendMmsHttpPostIn" />
      <wsdl:output message="tns:SendMmsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Send">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Use this to send sms and mms. Consult documentation for more information about message types, parameters and limitations.</wsdl:documentation>
      <wsdl:input message="tns:SendHttpPostIn" />
      <wsdl:output message="tns:SendHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestNumberEnquiry">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Accepts msisdn input, full length. Only implemented for Norway</wsdl:documentation>
      <wsdl:input message="tns:RequestNumberEnquiryHttpPostIn" />
      <wsdl:output message="tns:RequestNumberEnquiryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SetOperator">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Used to temporary set operator to an msisdn. HLR enquiry will be run.</wsdl:documentation>
      <wsdl:input message="tns:SetOperatorHttpPostIn" />
      <wsdl:output message="tns:SetOperatorHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContentSoap" type="tns:ContentSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMms">
      <soap:operation soapAction="http://smsc.sendega.com/Content/SendMms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send">
      <soap:operation soapAction="http://smsc.sendega.com/Content/Send" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestNumberEnquiry">
      <soap:operation soapAction="http://smsc.sendega.com/Content/RequestNumberEnquiry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOperator">
      <soap:operation soapAction="http://smsc.sendega.com/Content/SetOperator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContentSoap12" type="tns:ContentSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMms">
      <soap12:operation soapAction="http://smsc.sendega.com/Content/SendMms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send">
      <soap12:operation soapAction="http://smsc.sendega.com/Content/Send" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestNumberEnquiry">
      <soap12:operation soapAction="http://smsc.sendega.com/Content/RequestNumberEnquiry" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOperator">
      <soap12:operation soapAction="http://smsc.sendega.com/Content/SetOperator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContentHttpGet" type="tns:ContentHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SendMms">
      <http:operation location="/SendMms" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send">
      <http:operation location="/Send" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestNumberEnquiry">
      <http:operation location="/RequestNumberEnquiry" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOperator">
      <http:operation location="/SetOperator" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContentHttpPost" type="tns:ContentHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SendMms">
      <http:operation location="/SendMms" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send">
      <http:operation location="/Send" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestNumberEnquiry">
      <http:operation location="/RequestNumberEnquiry" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOperator">
      <http:operation location="/SetOperator" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Content">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This WebService contains all functions needed for sending all type of content, deleting queued messages and request different type of enquiries (Like positioning, hlr and dlr)</wsdl:documentation>
    <wsdl:port name="ContentSoap" binding="tns:ContentSoap">
      <soap:address location="https://smsc.sendega.com/Content.asmx" />
    </wsdl:port>
    <wsdl:port name="ContentSoap12" binding="tns:ContentSoap12">
      <soap12:address location="https://smsc.sendega.com/Content.asmx" />
    </wsdl:port>
    <wsdl:port name="ContentHttpGet" binding="tns:ContentHttpGet">
      <http:address location="https://smsc.sendega.com/Content.asmx" />
    </wsdl:port>
    <wsdl:port name="ContentHttpPost" binding="tns:ContentHttpPost">
      <http:address location="https://smsc.sendega.com/Content.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>